-r test_requirements.txt
jsonpickle
cloudshell-automation-api
cloudshell-logging @ git+https://github.com/QualiSystems/cloudshell-logging@dev
cloudshell-rest-api @ git+https://github.com/QualiSystems/cloudshell-rest-api@dev
